<!DOCTYPE html>
    <title>Stop, Frisk, and Gentrify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Stop and Frisk: Ammunition for Gentrification?</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#observe-gather">Observe and Gather</a>
            </li>
            <li>
              <a href="#statistics">Apply Statistics</a>
            </li>
            <li>
              <a href="#summarize">Summarize, Build, and Communicate</a>
            </li>
            <li>
              <a href="#source">Source</a>
            </li>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div>
            <h1 id="title" class="center">Stop and Frisk: Ammunition for Gentrification?</h1>
            <p class="lead center">A data driven investigation of the correlation between Stop and Frisk and Gentrification in New York City</p>
          </div>
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                 <div class="item active">
                  <img id="title-slide" src="/static/images/title-image.jpg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/static/images/process-slide-1.png" alt="...">
                  <div class="carousel-caption">
                    Everytime a Stop and Frisk (which sometimes leads to arrests) occurs a UF-250 form is filled out.  This form is input into a database and these reports were enumerated by community district (converted from reports by policy district number).
                  </div>
                </div>
                <div class="item">
                  <img src="/static/images/process-slide-2.png" alt="...">
                  <div class="carousel-caption">
                    Variables were obtained from 2000 Census information and 2010 American Community Survey Information.  The percent change for these variables were calculated for Proportion of White people, Proportion of Black people, Proportion of working age individuals in management positions, Rent, Living in a newly constructed house (10 years or less), Ratio of Bachelor and Graduate School Graduates to Less than high school graduates, Moving into the area within the last five years, Proportion of households renting, and Income.
                  </div>
                </div>
                  <div class="item">
                  <img src="/static/images/process-slide-3.png" alt="...">
                  <div class="carousel-caption">
                    If the community district percent change is more than the borough average then they receive a +1 for their gentrification Score.  They receive a -1 if the opposite is true.  (This relationship is reversed for Black population proportion.)
                  </div>
                </div>
                  <div class="item">
                  <img src="/static/images/process-slide-4.png" alt="...">
                  <div class="carousel-caption">
                    In order for groups to be statistically, significantly different from one another; the spread of the data within the groups has to be less than the spread of the data between the groups. Read more <a href="http://en.wikipedia.org/wiki/Analysis_of_variance">here</a>.
                  </div>
                </div>
                  <div class="item">
                  <img src="/static/images/process-slide-5.png" alt="...">
                  <div class="carousel-caption">
                    The Gentrification Index Score plotted against the Mean of the amount of Stop and Frisks.  The results from the ANOVA test (showing statistical significance) and Spearman's Rho (indicating statistical significance of trend) are also displayed.
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>          
            <section id="about">
            <section id="gentrification">
               <h2><b>Gentrification</b></h2>
                <p class="important">
               A shift in an urban community toward wealthier residents and/or businesses and increasing property values, sometimes at the expense of the poorer residents of the community.</p>
            </section>
             <section id="stop-and-frisk">
               <h2><b>Stop and Frisk</b></h2>
                <p class="important">
               A brief detention of a person by police on “reasonable” suspicion of involvement in criminal activity but short of probable cause to arrest.</p>
            </section>
            <section ="hypothesis">
              <h2><b>Hypothesis:</b></h2><p class="important">Newly gentrifying areas have increased police presence and that this increased police presence results in a greater number of stop and frisk incidents.</p>
              <img class="block" src="/static/images/hypo.png"></img>
              </p>
            </section>
            <section ="why">
              <h2> Why</h2>
              <p>The purpose of our project is to explore the relationship between gentrification and stop and frisk in New York City. 
            Wikipedia defines gentrification as “a shift in an urban community toward wealthier residents and/or businesses and increasing property values” and notes that it is “typically the result of investment in a community by local government, community activists, or business groups, and can often spur economic development, attract business, deter crime, and have other benefits to a community”. Although gentrification has some obvious benefits for the city, it often occurs at the expense of poorer residents and displaces these residents from their neighborhoods.</p>
            <p>Stop and Frisk refers to a brief detainment of a person by police when the police reasonably suspect that the person has committed criminal activity. Police can “frisk” the person to examine them for weapons if they reasonably suspect that the person may have a weapon. New York City police have defended the practice as essential for controlling crime. However, many New York residents who have been stopped and frisked by police believe that they have been unfairly targeted because of their race or socioeconomic status. </p>
          </section>
          </section>
          <div class="page-header">
            <h2 id="observe-gather"> Observe and Gather</h2>
            <p>To explore variables commonly associated with gentrification in the literature, we looked at data from both the US Census and the American Community Survey (ACS). To correlate gentrification with stop and frisk, we acquired publically available stop and frisk data from the NYPD website, for 2003-2012.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Stop-and-Frisk</button>
              <button type="button" class="btn btn-defaulte">Gentrification</button>
            </div>
            <g class="stopfrisk">
              <div id="total-stops-years"></div>
              <div id="total-stops-map" class="map"></div>
              <caption><b>This map displays the total number of stops for each community district with a darker color indicating a larger number of stops. On rollover, more detailed information is provided, including the percentage of people arrested and the percentages stopped by race.</b></caption>
            </g>
            <g class="gentrification">
              <div id="race-stops-years"></div>
              <div id="race-stops-map" class="map"></div>
              <caption><b>This map displays the amount of gentrification each community district based on a calculated gentrification index.</b></caption>
            </g>

            <div id="line-graph"></div>
            <caption><b>This graph correlates the mean number of total stops with the gentrification index. The size of the circles represents the arrest to stop ratio for that specific gentrification index.</b></caption>
          </div>
           <section id="statistics">
            <h2>Statistics</h2>
              <h3> Constructing the Gentrification Index </h3>
              <p>After data exploration we decided to construct a gentrification index based on the <a href="http://www.uic.edu/cuppa/voorheesctr/Publications/VNC%20CONFERENCE.pdf">method</a> used by Nancy Hudspeth, et al. We treated the gentrification index as an ordinal categorical variable and performed ANOVA tests for the association between gentrification and total stops and gentrification and total arrests.  Both tests were significant, indicating that the mean stops (p=0.013) and the mean arrests (p=0.01) for at least one of the groups of community districts was different from the others. Based on the literature on gentrification, we chose the following variables from the 2000 Census and the 2010 ACS for our index:</p>
              <ul>
                <li>percentage of population that is black</li>
                <li>percentage of population that is white</li>
                <li>percentage of households renting</li>
                <li>ratio of residents holding advanced degrees compared to residents attaining high school diplomas or lower among residents ages 26 or older</li>
                <li>percentage of residents holding management level positions</li>
                <li>per capita income</li>
                <li>median income</li>
                <li>percentage of residents that moved into their houses within the last 5 years
                <li>percentage of residents occupying a house built within the last 10 years</li>
                <li>median rent</li>
              </ul>
              <p>A LSD multiple comparison test was then used to determine which groups were significantly different from each other. In general, it seemed like the community districts with gentrification scores that were furthest away from each other were significantly different from each other. Thus, a higher gentrification score seemed to indicate a greater amount of stops as well as arrests compared to lower gentrification scores. Our last step was to check for correlation between gentrification and both stop and frisk variables. Because of the non-linear nature of our data, we had to use a non-parametric test for correlation and chose to use a Spearman correlation. The Spearman’s rho indicated a significant correlation between our index values and both stop and frisk and arrests (p<0.01)</p>
          </section>
          <section id="summarize">
            <h2>Summarize, Communicate, Build</h2>
            <p>The total number of stops across all community districts in New York City was displayed using a choropleth map of the boroughs. This map was built using D3.js and jQuery. The geoJSON boundary data was taken from from NYC Open Data and then converted into topojson and merged with district numbers. The map was colored according to a scale developed around the stop and frisk data from the New York Police Department. The same process was applied for the gentrification map, using the calculated gentrification index for coloring.<p>

          <p>The scatterplot was also created using D3.js. We have plotted the normalized total number of stops versus the gentrification index, which shows an increased number of stops as the area becomes more gentrified. The size of the circles represents the arrest to stop ratio for each specific gentrification index.</p>

          </section>
          <section id="source">
            <h2>Source</h2>
            <p><img id="octocat" src="/static/images/labtocat.png"></img> </p>
            <p> Want to check out our code? Want to contribute to the project? Find us on <a href="https://github.com/alexandraorth/data_science_2013">Github.</a></p>
          </section>
        </div>
      </div>
      <div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>
        <p><span id="value">100</span>%</p>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
      <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
      <script src="http://d3js.org/queue.v1.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>  
      <script src="/static/js/tooltip.js"></script>
      <script src="/static/js/race-stops.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <script src="/static/js/total-stops.js"></script>
      <script src="/static/js/line-graph.js"></script>
  </body>
</html>