<!DOCTYPE html>
    <title>Stop, Frisk, and Gentrify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/css/bootswatch.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Stop and Frisk: Ammunition for Gentrification?</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#observe-gather">Observe and Gather</a>
            </li>
            <li>
              <a href="#stat">Apply Statistics</a>
            </li>
            <li>
              <a href="#summarize">Summarize, Communicate, Build</a>
            </li>
            <li>
              <a href="#source">Source</a>
            </li>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div>
            <h1>Stop and Frisk: Ammunition for Gentrification?</h1>
            <p class="lead">A data driven investigation of Stop and Frisk and Gentrification in New York City</p>
          </div>
          <section id="about">
            <img src="/static/images/datascienceprocess.png"></img>
            <p>Cupcake ipsum dolor sit amet sweet sesame snaps applicake. Topping wafer I love caramels I love donut jujubes gummies muffin. Tart I love jelly I love I love cake. Jelly chocolate bar gummi bears. Sweet roll dragée topping I love caramels oat cake tiramisu. Cotton candy donut bear claw. Macaroon sweet roll tootsie roll cupcake candy I love soufflé pudding.</p>
          </section>
          <section id="observe-gather">
            <h2> Observe and Gather</h2>
            <p>Cupcake ipsum dolor sit amet chocolate powder. Cotton candy candy canes jelly-o candy canes danish tootsie roll bonbon chocolate bar. Jelly caramels bonbon chocolate cake brownie chupa chups gingerbread cheesecake. Tiramisu lollipop carrot cake apple pie topping tart candy sweet roll caramels.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Stop-and-Frisk</button>
              <button type="button" class="btn btn-defaulte">Gentrification</button>
            </div>
            <g class="stopfrisk">
              <div id="total-stops-years"></div>
              <div id="total-stops-map" class="map"></div>
              <caption><b>Total stops</b></caption>
            </g>
            <g class="gentrification">
              <div id="race-stops-years"></div>
              <div id="race-stops-map" class="map"></div>
              <caption><b>Gentrification</b></caption>
            </g>

            <div id="line-graph"></div>
            <caption><b>Stops vs Gentrification</b></caption>

          </section>
           <section id="statistics">
            <h2>Statistics</h2>
            <p>Cupcake ipsum dolor sit amet chocolate powder. Cotton candy candy canes jelly-o candy canes danish tootsie roll bonbon chocolate bar. Jelly caramels bonbon chocolate cake brownie chupa chups gingerbread cheesecake. Tiramisu lollipop carrot cake apple pie topping tart candy sweet roll caramels. Marshmallow icing soufflé tart macaroon jelly beans sweet. Bear claw pie biscuit jujubes wafer I love. Dragée cake candy. Topping sweet roll cheesecake fruitcake jujubes marzipan tiramisu. Cake toffee dragée gummies. Gummi bears pie icing ice cream I love jujubes.</p>
          </section>
          <section id="summarize">
            <h2>Summarize, Communicate, Build</h2>
            <p>Cupcake ipsum dolor sit amet chocolate powder. Cotton candy candy canes jelly-o candy canes danish tootsie roll bonbon chocolate bar. Jelly caramels bonbon chocolate cake brownie chupa chups gingerbread cheesecake. Tiramisu lollipop carrot cake apple pie topping tart candy sweet roll caramels. Marshmallow icing soufflé tart macaroon jelly beans sweet. Bear claw pie biscuit jujubes wafer I love. Dragée cake candy. Topping sweet roll cheesecake fruitcake jujubes marzipan tiramisu. Cake toffee dragée gummies. Gummi bears pie icing ice cream I love jujubes.</p>
          </section>
          <section id="source">
            <h2>Source</h2>
            <p><img id="octocat" src="/static/images/labtocat.png"></img> </p>
            <p> Want to check out our code? Want to contribute to the project? Find us on <a href="https://github.com/alexandraorth/data_science_2013">Github</a></p>
          </section>
        </div>
      </div>
      <div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>
        <p><span id="value">100</span>%</p>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
      <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
      <script src="http://d3js.org/queue.v1.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>  
      <script src="/static/js/tooltip.js"></script>
      <script src="/static/js/race-stops.js"></script>
      <!--<script src="/static/js/race-tooltips.js"></script>-->
      <script src="/static/js/total-stops.js"></script>
      <script src="/static/js/line-graph.js"></script>
  </body>
</html>