<!DOCTYPE html>
    <title>Stop, Frisk, and Gentrify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/css/bootswatch.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Stop and Frisk: Ammunition for Gentrification?</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#observe-gather">Observe and Gather</a>
            </li>
            <li>
              <a href="#stat">Apply Statistics</a>
            </li>
            <li>
              <a href="#summarize">Summarize, Build, and Communicate</a>
            </li>
            <li>
              <a href="#source">Source</a>
            </li>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div>
            <h1 id="title" class="center">Stop and Frisk: Ammunition for Gentrification?</h1>
            <p class="lead center">A data driven investigation of Stop and Frisk and Gentrification in New York City</p>
          </div>
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/static/images/process-slide-1.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/static/images/process-slide-2.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                  <div class="item">
                  <img src="/static/images/process-slide-3.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                  <div class="item">
                  <img src="/static/images/process-slide-4.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                  <div class="item">
                  <img src="/static/images/process-slide-5.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carouselc" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>          
            <section id="about">
            <p>The purpose of our project is to explore the relationship between gentrification and stop and frisk in New York City. Our working hypothesis was that newly gentrifying areas have increased police presence and that this increased police presence results in a greater number of stop and frisk incidents.</p>
          </section>
          <section id="observe-gather">
            <h2> Observe and Gather</h2>
            <p>Cupcake ipsum dolor sit amet chocolate powder. Cotton candy candy canes jelly-o candy canes danish tootsie roll bonbon chocolate bar. Jelly caramels bonbon chocolate cake brownie chupa chups gingerbread cheesecake. Tiramisu lollipop carrot cake apple pie topping tart candy sweet roll caramels.</p>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Stop-and-Frisk</button>
              <button type="button" class="btn btn-defaulte">Gentrification</button>
            </div>
            <g class="stopfrisk">
              <div id="total-stops-years"></div>
              <div id="total-stops-map" class="map"></div>
              <caption><b>This map displays the total number of stops for each community district with a darker color indicating a larger number of stops. On rollover, more detailed information is provided, including the percentage of people arrested and the percentages stopped by race.</b></caption>
            </g>
            <g class="gentrification">
              <div id="race-stops-years"></div>
              <div id="race-stops-map" class="map"></div>
              <caption><b>This map displays the amount of gentrification each community district based on a calculated gentrification index.</b></caption>
            </g>

            <div id="line-graph"></div>
            <caption><b>This graph correlates the mean number of total stops with the gentrification index. The size of the circles represents the arrest to stop ratio for that specific gentrification index.</b></caption>

          </section>
           <section id="statistics">
            <h2>Statistics</h2>
              <h3> Constructing the Gentrification Index </h3>
              <p>To measure gentrification, we constructed an index. Our methodology for constructing the index was inspired by the method used by Nancy Hudspeth, et al (CITE). We then calculated the percent change for each community district between 2000 and 2010. Next, the percent changes for each variable for each district were compared to the mean NYC percent change for each variable for each district.  However, we realized that gentrification might vary between boroughs, so we decided to recalculate the gentrification scores for each district by comparing the variables’ percentage changes to the average percentage changes for the borough.</p>

              <h3> Statistical Analysis Of Our Model </h3>
              <ul>
                  <li><u>Linear Regression-</u>Initially, the regressions showed no linear correlation, so we knew we needed to change our model.
                  </li>
                  <li>
                  </li>
              </ul>
          </section>
          <section id="summarize">
            <h2>Summarize, Communicate, Build</h2>
            <p>The total number of stops across all community districts in New York City was displayed using a choropleth map of the boroughs. This map was built using D3.js and jQuery. The geoJSON boundary data was taken from from NYC Open Data and then converted into topojson and merged with district numbers. The map was colored according to a scale developed around the stop and frisk data from the New York Police Department. The same process was applied for the gentrification map, using the calculated gentrification index for coloring.<p>

          <p>The scatterplot was also created using D3.js. We have plotted the normalized total number of stops versus the gentrification index, which shows an increased number of stops as the area becomes more gentrified. The size of the circles represents the arrest to stop ratio for each specific gentrification index.</p>

          </section>
          <section id="source">
            <h2>Source</h2>
            <p><img id="octocat" src="/static/images/labtocat.png"></img> </p>
            <p> Want to check out our code? Want to contribute to the project? Find us on <a href="https://github.com/alexandraorth/data_science_2013">Github.</a></p>
          </section>
        </div>
      </div>
      <div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>
        <p><span id="value">100</span>%</p>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
      <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
      <script src="http://d3js.org/queue.v1.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>  
      <script src="/static/js/tooltip.js"></script>
      <script src="/static/js/race-stops.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <script src="/static/js/total-stops.js"></script>
      <script src="/static/js/line-graph.js"></script>
  </body>
</html>